.hero_image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url('../../images/archive_cropped_expanded.jpg');
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 75%;
  display: "flex";
  justify-content: center;
  align-items: center;
};
.hero_text_wrapper{
  padding: 100px 0px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
};
.hero_text{
  border-radius:10px;
  padding:10px;
  backdrop-filter: brightness(175%);
  &:first-child {
    
    border-bottom-right-radius: 0px;
  };
  &:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  };
  &h1{
    font-size: 90px;
  };
  &h3{
    font-size: 60px;
  }
}